get_course_by_id/dummy.json
[
    {
        "id": "17f9f6877c754ca0",
        "type": "group",
        "z": "60cd56e29d46ec42",
        "name": "GET /course/:id",
        "style": {
            "label": true
        },
        "nodes": [
            "894c2562e5892624",
            "6935ad3690d8376a",
            "8d464ecda8736c71",
            "20cb975a636d0d45",
            "93043e344f278527"
        ],
        "x": 54,
        "y": 1679,
        "w": 1072,
        "h": 82
    },
    {
        "id": "ce1bcc6514ed113f",
        "type": "subflow",
        "name": "JWT Sign",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 160,
                "wires": [
                    {
                        "id": "ff3dba8d6e7d5cce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 160,
                "wires": [
                    {
                        "id": "59283f81b0468ed7",
                        "port": 0
                    },
                    {
                        "id": "ab61e7f6bb965e65",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "font-awesome/fa-hashtag",
        "status": {
            "x": 320,
            "y": 60,
            "wires": [
                {
                    "id": "f2006b4ad0770cdf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "59283f81b0468ed7",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Gün",
        "alg": "HS256",
        "exp": "86400000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab61e7f6bb965e65",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Hafta",
        "alg": "HS256",
        "exp": "604800000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3dba8d6e7d5cce",
        "type": "switch",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "property": "_payload.rememberMe",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "59283f81b0468ed7"
            ],
            [
                "ab61e7f6bb965e65"
            ]
        ]
    },
    {
        "id": "f2006b4ad0770cdf",
        "type": "status",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "894c2562e5892624",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "17f9f6877c754ca0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1720,
        "wires": [
            [
                "8d464ecda8736c71"
            ]
        ]
    },
    {
        "id": "6935ad3690d8376a",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "17f9f6877c754ca0",
        "name": "",
        "x": 300,
        "y": 1720,
        "wires": [
            [
                "894c2562e5892624"
            ]
        ]
    },
    {
        "id": "8d464ecda8736c71",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "17f9f6877c754ca0",
        "name": "/course/63711c123d8d30d2fa9b82e0",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://localhost:1880/course/63711c123d8d30d2fa9b82e0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 750,
        "y": 1720,
        "wires": [
            [
                "93043e344f278527"
            ]
        ]
    },
    {
        "id": "20cb975a636d0d45",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "17f9f6877c754ca0",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"roles\":[\"superUser\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "6935ad3690d8376a"
            ]
        ]
    },
    {
        "id": "93043e344f278527",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "17f9f6877c754ca0",
        "name": "Course",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1720,
        "wires": []
    }
]