menu_tree/dummy.json
[
    {
        "id": "97028b3e1c5e1880",
        "type": "group",
        "z": "60cd56e29d46ec42",
        "name": "POST /menu-tree",
        "style": {
            "label": true
        },
        "nodes": [
            "4c9cf95e9501ce92",
            "95c0a8e1b43625e6",
            "d2f55c2e9b55e89f",
            "f5ac936f24d7e39d",
            "9b2b8678298efc2a",
            "326ec7d9f46f2dde",
            "cb0857d0ef61dc6a",
            "9cf91f778c07b57e",
            "47b318c5a9b8c58c",
            "2a1e66a8d79f59eb",
            "f28677659657756e",
            "f07c96fdc6a1f677",
            "cfc66f0c052262d6",
            "ed85043dd58cf573",
            "81b718147461dde2",
            "8d51ebf05cf9f191",
            "a0030c2a4d510358",
            "896f1ac21f35a8c9",
            "528abdd573bacd07",
            "4a86efa5b8e10b5b",
            "5b7ed44ed8c67f6c",
            "9e8e4723494bd950",
            "6c54cddb26ee263d"
        ],
        "x": 54,
        "y": 119,
        "w": 892,
        "h": 242
    },
    {
        "id": "ce1bcc6514ed113f",
        "type": "subflow",
        "name": "JWT Sign",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 160,
                "wires": [
                    {
                        "id": "ff3dba8d6e7d5cce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 160,
                "wires": [
                    {
                        "id": "59283f81b0468ed7",
                        "port": 0
                    },
                    {
                        "id": "ab61e7f6bb965e65",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "font-awesome/fa-hashtag",
        "status": {
            "x": 320,
            "y": 60,
            "wires": [
                {
                    "id": "f2006b4ad0770cdf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "59283f81b0468ed7",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Gün",
        "alg": "HS256",
        "exp": "86400000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab61e7f6bb965e65",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Hafta",
        "alg": "HS256",
        "exp": "604800000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3dba8d6e7d5cce",
        "type": "switch",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "property": "_payload.rememberMe",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "59283f81b0468ed7"
            ],
            [
                "ab61e7f6bb965e65"
            ]
        ]
    },
    {
        "id": "f2006b4ad0770cdf",
        "type": "status",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4c9cf95e9501ce92",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Insert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"_id\":4,\"parent\":\"1\",\"name\":\"Item 4\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"},{\"_id\":1,\"parent\":\"\",\"name\":\"Item 1\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"},{\"_id\":2,\"parent\":\"\",\"name\":\"Item 2\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"},{\"_id\":6,\"parent\":\"3\",\"name\":\"Item 6\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"},{\"_id\":3,\"parent\":\"\",\"name\":\"Item 3\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"},{\"_id\":5,\"parent\":\"1\",\"name\":\"Item 5\",\"iconClass\":\"fa fa-xxx\",\"href\":\"#\"}]",
        "payloadType": "json",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "6c54cddb26ee263d"
            ]
        ]
    },
    {
        "id": "95c0a8e1b43625e6",
        "type": "mongodb4",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "clientNode": "da6360c8f119cb98",
        "mode": "collection",
        "collection": "NavItems",
        "operation": "updateOne",
        "output": "toArray",
        "handleDocId": true,
        "name": "",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "d2f55c2e9b55e89f"
            ]
        ]
    },
    {
        "id": "d2f55c2e9b55e89f",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Insert Data Of Menu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "f5ac936f24d7e39d",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Flush",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9b2b8678298efc2a"
            ]
        ]
    },
    {
        "id": "9b2b8678298efc2a",
        "type": "mongodb4",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "clientNode": "da6360c8f119cb98",
        "mode": "collection",
        "collection": "NavItems",
        "operation": "deleteMany",
        "output": "toArray",
        "handleDocId": true,
        "name": "",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "326ec7d9f46f2dde"
            ]
        ]
    },
    {
        "id": "326ec7d9f46f2dde",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Flush Menu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb0857d0ef61dc6a",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"roles\":[\"superUser\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "2a1e66a8d79f59eb"
            ]
        ]
    },
    {
        "id": "9cf91f778c07b57e",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "/menu-tree",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/menu-tree",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "47b318c5a9b8c58c"
            ]
        ]
    },
    {
        "id": "47b318c5a9b8c58c",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Parent Menu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a1e66a8d79f59eb",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "f28677659657756e"
            ]
        ]
    },
    {
        "id": "f28677659657756e",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "9cf91f778c07b57e"
            ]
        ]
    },
    {
        "id": "f07c96fdc6a1f677",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"parent\":\"1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "cfc66f0c052262d6"
            ]
        ]
    },
    {
        "id": "cfc66f0c052262d6",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "/menu-tree",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/menu-tree",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "ed85043dd58cf573"
            ]
        ]
    },
    {
        "id": "ed85043dd58cf573",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Child Menu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "81b718147461dde2",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "8d51ebf05cf9f191"
            ]
        ]
    },
    {
        "id": "8d51ebf05cf9f191",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"level\":-1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "a0030c2a4d510358"
            ]
        ]
    },
    {
        "id": "a0030c2a4d510358",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "/menu-tree",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/menu-tree",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "896f1ac21f35a8c9"
            ]
        ]
    },
    {
        "id": "896f1ac21f35a8c9",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Tree Menu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "528abdd573bacd07",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "f07c96fdc6a1f677"
            ]
        ]
    },
    {
        "id": "4a86efa5b8e10b5b",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"roles\":[\"superUser\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "528abdd573bacd07"
            ]
        ]
    },
    {
        "id": "5b7ed44ed8c67f6c",
        "type": "function",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "query",
        "func": "let stamp = {\n    createAt: new Date(),\n    username: \"system.user\",\n    email: \"\",\n    displayName: \"Sistem Kullanıcısı\",\n    ip: \"127.0.0.1\"\n}\nlet auth = [\n    {\n        name: \"system.user\",\n        access: [\"r\", \"w\"]\n    }\n]\nlet _id = msg.payload._id\ndelete msg.payload._id\nmsg.payload = [\n    {\n        _id\n    },\n    {\n        $set: {...msg.payload, stamp, auth}\n    },\n    {\n        upsert: true\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "95c0a8e1b43625e6"
            ]
        ]
    },
    {
        "id": "9e8e4723494bd950",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"roles\":[\"superUser\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6c54cddb26ee263d",
        "type": "split",
        "z": "60cd56e29d46ec42",
        "g": "97028b3e1c5e1880",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "5b7ed44ed8c67f6c"
            ]
        ]
    },
    {
        "id": "da6360c8f119cb98",
        "type": "mongodb4-client",
        "name": "Paperx DB",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "dbName": "paperx",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "",
        "uriTabActive": "tab-uri-simple"
    }
]