error_handler/flow.json
[
    {
        "id": "82d5d8b46c2c8ce4",
        "type": "subflow",
        "name": "Response",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 100,
                "wires": [
                    {
                        "id": "88b0bc59a49f3abf"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 100,
                "wires": [
                    {
                        "id": "88b0bc59a49f3abf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "code",
                "type": "str",
                "value": "0",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Başarılı"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "Validasyon Hatası"
                                },
                                "v": "1"
                            },
                            {
                                "l": {
                                    "en-US": "Sistem Hatası"
                                },
                                "v": "2"
                            },
                            {
                                "l": {
                                    "en-US": "Veri Bulunamadı"
                                },
                                "v": "3"
                            },
                            {
                                "l": {
                                    "en-US": "Yetki Hatası"
                                },
                                "v": "4"
                            }
                        ]
                    }
                }
            },
            {
                "name": "message",
                "type": "str",
                "value": "İşlem başarılı."
            },
            {
                "name": "isShowMessage",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Son kullanıcıya mesajı göster."
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "result",
                "type": "json",
                "value": "{}"
            }
        ],
        "meta": {},
        "color": "#FFF0F0",
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "88b0bc59a49f3abf",
        "type": "function",
        "z": "82d5d8b46c2c8ce4",
        "name": "Prepare Response Object",
        "func": "let { \n    code = env.get(\"code\"),\n    message = env.get(\"message\"),\n    isShowMessage = env.get(\"isShowMessage\"),\n    result = env.get(\"result\") } = msg.payload\n\nmsg.payload = { code, message, isShowMessage, result }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "11e0031985155b6f",
        "type": "subflow",
        "name": "Error Handler",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 90,
                "y": 80,
                "wires": [
                    {
                        "id": "9094a2816438fef2"
                    },
                    {
                        "id": "f63dce6bba996cd6"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "9094a2816438fef2",
        "type": "subflow:82d5d8b46c2c8ce4",
        "z": "11e0031985155b6f",
        "name": "Error Handler",
        "env": [
            {
                "name": "code",
                "value": "2",
                "type": "str"
            },
            {
                "name": "message",
                "value": "Sistemde beklenmeyen bir hata ile karşılaşıldı.",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "85e9dcbf97d7c19f"
            ]
        ]
    },
    {
        "id": "85e9dcbf97d7c19f",
        "type": "switch",
        "z": "11e0031985155b6f",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 80,
        "wires": [
            [
                "fd6965e06e276ded"
            ]
        ]
    },
    {
        "id": "fd6965e06e276ded",
        "type": "http response",
        "z": "11e0031985155b6f",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "f63dce6bba996cd6",
        "type": "debug",
        "z": "11e0031985155b6f",
        "name": "ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "618e4940b91dc37f",
        "type": "subflow:11e0031985155b6f",
        "z": "60cd56e29d46ec42",
        "name": "",
        "x": 340,
        "y": 60,
        "wires": []
    }
]