whoami/flow.json
[
    {
        "id": "82d5d8b46c2c8ce4",
        "type": "subflow",
        "name": "Response",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 100,
                "wires": [
                    {
                        "id": "88b0bc59a49f3abf"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 100,
                "wires": [
                    {
                        "id": "88b0bc59a49f3abf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "code",
                "type": "str",
                "value": "0",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Başarılı"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "Validasyon Hatası"
                                },
                                "v": "1"
                            },
                            {
                                "l": {
                                    "en-US": "Sistem Hatası"
                                },
                                "v": "2"
                            },
                            {
                                "l": {
                                    "en-US": "Veri Bulunamadı"
                                },
                                "v": "3"
                            },
                            {
                                "l": {
                                    "en-US": "Yetki Hatası"
                                },
                                "v": "4"
                            }
                        ]
                    }
                }
            },
            {
                "name": "message",
                "type": "str",
                "value": "İşlem başarılı."
            },
            {
                "name": "isShowMessage",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Son kullanıcıya mesajı göster."
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "result",
                "type": "json",
                "value": "{}"
            }
        ],
        "meta": {},
        "color": "#FFF0F0",
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "88b0bc59a49f3abf",
        "type": "function",
        "z": "82d5d8b46c2c8ce4",
        "name": "Prepare Response Object",
        "func": "let { \n    code = env.get(\"code\"),\n    message = env.get(\"message\"),\n    isShowMessage = env.get(\"isShowMessage\"),\n    result = env.get(\"result\") } = msg.payload\n\nmsg.payload = { code, message, isShowMessage, result }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e94d0628e8b18d22",
        "type": "subflow",
        "name": "JWT Verify",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 180,
                "wires": [
                    {
                        "id": "3282e40019dd57e3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 160,
                "wires": [
                    {
                        "id": "ac5fef71cca79e94",
                        "port": 0
                    },
                    {
                        "id": "632350b7ceed4c0d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "token",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-drivers-license",
        "status": {
            "x": 360,
            "y": 60,
            "wires": [
                {
                    "id": "5186a3069fef881a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "5186a3069fef881a",
        "type": "status",
        "z": "e94d0628e8b18d22",
        "name": "",
        "scope": null,
        "x": 220,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "12a7ab9b8cfe8a3c",
        "type": "jwt verify",
        "z": "e94d0628e8b18d22",
        "name": "",
        "alg": [
            "HS256"
        ],
        "jwkurl": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "token",
        "storetoken": "token",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "632350b7ceed4c0d"
            ]
        ]
    },
    {
        "id": "3282e40019dd57e3",
        "type": "function",
        "z": "e94d0628e8b18d22",
        "name": "Token",
        "func": "msg.token = env.get(\"token\") || msg.req?.cookies.token || msg.req?.headers[\"x-token\"] || msg.token || \"\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "12a7ab9b8cfe8a3c"
            ]
        ]
    },
    {
        "id": "3676cbd8d6c3d1e3",
        "type": "catch",
        "z": "e94d0628e8b18d22",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "ac5fef71cca79e94"
            ]
        ]
    },
    {
        "id": "ac5fef71cca79e94",
        "type": "function",
        "z": "e94d0628e8b18d22",
        "name": "Default Token",
        "func": "msg.token = {\n    username: \"anonymous\",\n    email: \"\",\n    displayName: \"\",\n    roles: [\"anonymous\", \"everyone\"],\n    ip: msg.req.headers[\"x-real-ip\"] || msg.req.headers[\"x-forwarded-for\"] || msg.req.ip\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "632350b7ceed4c0d",
        "type": "function",
        "z": "e94d0628e8b18d22",
        "name": "Has Decode",
        "func": "if(!msg.token) {\n    // Move Default Token\n    node.error(\"\", msg);\n    return\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "62a9063c0bcda696",
        "type": "subflow",
        "name": "Who Am I",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 160,
                "wires": [
                    {
                        "id": "ec0b203356c14f51"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 160,
                "wires": [
                    {
                        "id": "893ef30120f3d5c2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#A6BBCF",
        "icon": "font-awesome/fa-question",
        "status": {
            "x": 440,
            "y": 60,
            "wires": [
                {
                    "id": "1aa4b6e897f9bbed",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "1aa4b6e897f9bbed",
        "type": "status",
        "z": "62a9063c0bcda696",
        "name": "",
        "scope": null,
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ec0b203356c14f51",
        "type": "subflow:e94d0628e8b18d22",
        "z": "62a9063c0bcda696",
        "name": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "893ef30120f3d5c2"
            ]
        ]
    },
    {
        "id": "893ef30120f3d5c2",
        "type": "function",
        "z": "62a9063c0bcda696",
        "name": "Create User Object",
        "func": "msg.user = {\n    username: msg.token.username,\n    displayName: msg.token.displayName,\n    email: msg.token.email,\n    roles: msg.token.roles\n}\ndelete msg.token\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8305464f00157e10",
        "type": "http in",
        "z": "1f62240e0094d3c9",
        "name": "",
        "url": "/whoami",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "38a668c73f410d32"
            ]
        ]
    },
    {
        "id": "38a668c73f410d32",
        "type": "subflow:62a9063c0bcda696",
        "z": "1f62240e0094d3c9",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "916edc5a206501bb"
            ]
        ]
    },
    {
        "id": "916edc5a206501bb",
        "type": "function",
        "z": "1f62240e0094d3c9",
        "name": "result",
        "func": "msg.payload = {\n    result: msg.user\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "f1567be5fdb0d907"
            ]
        ]
    },
    {
        "id": "f1567be5fdb0d907",
        "type": "subflow:82d5d8b46c2c8ce4",
        "z": "1f62240e0094d3c9",
        "name": "User Data",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "250ffed253de568d"
            ]
        ]
    },
    {
        "id": "250ffed253de568d",
        "type": "http response",
        "z": "1f62240e0094d3c9",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 140,
        "wires": []
    }
]