post_forgot/dummy.json
[
    {
        "id": "825a18cab84270be",
        "type": "group",
        "z": "60cd56e29d46ec42",
        "name": "POST /forgot",
        "style": {
            "label": true
        },
        "nodes": [
            "05a88d3ef3b550bc",
            "1ceb89ba772ace8c",
            "8be05e8c44a6bda0",
            "5e1b81333fe26f1b",
            "0d4a97d4f7f6b088"
        ],
        "x": 54,
        "y": 839,
        "w": 852,
        "h": 82
    },
    {
        "id": "ce1bcc6514ed113f",
        "type": "subflow",
        "name": "JWT Sign",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 160,
                "wires": [
                    {
                        "id": "ff3dba8d6e7d5cce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 160,
                "wires": [
                    {
                        "id": "59283f81b0468ed7",
                        "port": 0
                    },
                    {
                        "id": "ab61e7f6bb965e65",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "font-awesome/fa-hashtag",
        "status": {
            "x": 320,
            "y": 60,
            "wires": [
                {
                    "id": "f2006b4ad0770cdf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "59283f81b0468ed7",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Gün",
        "alg": "HS256",
        "exp": "86400000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab61e7f6bb965e65",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Hafta",
        "alg": "HS256",
        "exp": "604800000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3dba8d6e7d5cce",
        "type": "switch",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "property": "_payload.rememberMe",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "59283f81b0468ed7"
            ],
            [
                "ab61e7f6bb965e65"
            ]
        ]
    },
    {
        "id": "f2006b4ad0770cdf",
        "type": "status",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "05a88d3ef3b550bc",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "825a18cab84270be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"password\":\"q1w2e3r4t5y6u7\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 880,
        "wires": [
            [
                "8be05e8c44a6bda0"
            ]
        ]
    },
    {
        "id": "1ceb89ba772ace8c",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "825a18cab84270be",
        "name": "",
        "x": 300,
        "y": 880,
        "wires": [
            [
                "05a88d3ef3b550bc"
            ]
        ]
    },
    {
        "id": "8be05e8c44a6bda0",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "825a18cab84270be",
        "name": "/forgot",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/forgot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 650,
        "y": 880,
        "wires": [
            [
                "0d4a97d4f7f6b088"
            ]
        ]
    },
    {
        "id": "5e1b81333fe26f1b",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "825a18cab84270be",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"forgot\",\"roles\":[\"forgot\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "1ceb89ba772ace8c"
            ]
        ]
    },
    {
        "id": "0d4a97d4f7f6b088",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "825a18cab84270be",
        "name": "User",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 880,
        "wires": []
    }
]