post_user/dummy.json
[
    {
        "id": "ac45302609a012ae",
        "type": "group",
        "z": "60cd56e29d46ec42",
        "name": "POST /user",
        "style": {
            "label": true
        },
        "nodes": [
            "64b634267579d002",
            "a91dc49ab098b7d9",
            "2dc07d7ec30ae10e",
            "fbe49b80cdcc0ad7",
            "0550a19ebafb9d95"
        ],
        "x": 54,
        "y": 1319,
        "w": 832,
        "h": 82
    },
    {
        "id": "ce1bcc6514ed113f",
        "type": "subflow",
        "name": "JWT Sign",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 160,
                "wires": [
                    {
                        "id": "ff3dba8d6e7d5cce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 160,
                "wires": [
                    {
                        "id": "59283f81b0468ed7",
                        "port": 0
                    },
                    {
                        "id": "ab61e7f6bb965e65",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "font-awesome/fa-hashtag",
        "status": {
            "x": 320,
            "y": 60,
            "wires": [
                {
                    "id": "f2006b4ad0770cdf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "59283f81b0468ed7",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Gün",
        "alg": "HS256",
        "exp": "86400000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab61e7f6bb965e65",
        "type": "jwt sign",
        "z": "ce1bcc6514ed113f",
        "name": "1 Hafta",
        "alg": "HS256",
        "exp": "604800000",
        "jwkurl": "",
        "jwkkid": "",
        "secret": "qwe1P23Klx0*123l$kaSd-*0*98X23lkjasDsad31Z2-*0",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3dba8d6e7d5cce",
        "type": "switch",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "property": "_payload.rememberMe",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "59283f81b0468ed7"
            ],
            [
                "ab61e7f6bb965e65"
            ]
        ]
    },
    {
        "id": "f2006b4ad0770cdf",
        "type": "status",
        "z": "ce1bcc6514ed113f",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "64b634267579d002",
        "type": "change",
        "z": "60cd56e29d46ec42",
        "g": "ac45302609a012ae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"username\":\"teacher.2\",\"password\":\"1q2w3e4r5t6y7u\",\"email\":\"foo@bar.baz\",\"displayName\":\"Üretilmiş Öğrenmen Kullanıcı\",\"roles\":[\"teacher\"]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1360,
        "wires": [
            [
                "2dc07d7ec30ae10e"
            ]
        ]
    },
    {
        "id": "a91dc49ab098b7d9",
        "type": "subflow:ce1bcc6514ed113f",
        "z": "60cd56e29d46ec42",
        "g": "ac45302609a012ae",
        "name": "",
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "64b634267579d002"
            ]
        ]
    },
    {
        "id": "2dc07d7ec30ae10e",
        "type": "http request",
        "z": "60cd56e29d46ec42",
        "g": "ac45302609a012ae",
        "name": "/user",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://localhost:1880/user",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "x-token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "0550a19ebafb9d95"
            ]
        ]
    },
    {
        "id": "fbe49b80cdcc0ad7",
        "type": "inject",
        "z": "60cd56e29d46ec42",
        "g": "ac45302609a012ae",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"roles\":[\"superUser\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 1360,
        "wires": [
            [
                "a91dc49ab098b7d9"
            ]
        ]
    },
    {
        "id": "0550a19ebafb9d95",
        "type": "debug",
        "z": "60cd56e29d46ec42",
        "g": "ac45302609a012ae",
        "name": "User",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1360,
        "wires": []
    }
]